* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input, button, select, textarea {
    font-family: 'LocalFontName', "Broken Console";
}


html, body {
    font-family: 'LocalFontName', "Broken Console";
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #a82cf2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    max-width: 500px;
    margin-bottom: 100px;
}

.container, .header, .inputs, .input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}

.inputs {
    margin-top: 5px;
    width: 100%;
}

input::placeholder {
    color: #FFFFFF;
    opacity: 1;
}


.input {
    justify-content: center;
    padding: 0 10px;
    color: #FFFFFF;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    /*height: 80px;*/
    border-radius: 10px;
    margin: 10px 0;
    z-index: 2;
}


.input input {
    width: 100%;
    border-radius: 30px;
    color: #ffffff;
    font-size: 19px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    padding: 12px 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    /*opacity: 0.5;*/
    outline: none;
    border: none;
}



.input input:focus{
    outline: none;

}
.submit-container {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    z-index: 2;
    margin-top: 20px;
}



.submit {
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    color: white;
    border-radius: 30px;
    font-size: 20px;
    transition: background-color 0.3s;
    background-color: rgba(168, 44, 242, 0.57);
    border: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

}

.submit:hover {
    background-color: rgba(0, 0, 0, 0.25);
    outline: 2px solid #A82CF2;

}


.header .text, .header .underline {
    text-align: center;
}

/*.header .underline {*/
/*    height: 2px;*/
/*    width: 60px;*/
/*    border-radius: 9px;*/
/*    background-color: #e600e2;*/
/*}*/


.center-image {
    position: absolute;
    z-index: -1;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 80px);
    height: calc(100vh - 80px);
    background-image: url(brainbetty.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    box-shadow: inset 0 0 20px #000000;
}

input[type="text"]#joinpagetextbox::placeholder {
    color: gray; /* Or any color that provides sufficient contrast */
    opacity: 1; /* Ensures the placeholder is fully opaque */
}


.background-container {
    width: 100vw;  /* Adding padding while considering the full viewport width */
    height: 100vh; /* Same for height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; /* Needed for absolute positioning inside */
    padding: 20px;  /* Padding around the outer container */
}